<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTest">
    <test verbose="2" name="Group of SmokeTest">
        <!--<packages>-->
            <!--<package name="qaframework.rtv.tests"/>-->
        <!--</packages>-->
        <classes>
            <class name="qaframework.rtv.tests.SmokeTest" />
        </classes>
    </test>
    <test verbose="2" name="Tests for authorization">
        <classes>
            <class name="qaframework.rtv.tests.AuthorizationTest" />
        </classes>
    </test>
</suite>